<div class="topbar">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
    <!--Search-->
    <div class="searchBox">
    <div class="box">
        <select name="" id="search">
            <option value="0">Categorias</option>
            <option value="especie">Espécie</option>
            <option value="genero">Gênero</option>
            <option value="local">Local</option>
        </select>
    </div>
    <div class="search">
        <label for="">
            <input type="text" placeholder="Buscar" id="inputSearch">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>
    <div class="searchIcon">
        <button type="submit" id="btnSearch"><ion-icon name="search-outline"></ion-icon></button>
        
    </div>
</div>
    <!--User
    <div class="user">
        <img src="{{url_for('static', filename='img/user.jpg')}}" alt="">
    </div>-->
</div>  